*~
.DS_Store

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/app/Http/apidoc.json
/app/Http/apidoc.md
/public/apidoc
/public/shop
/public/uploads
/public/.htaccess
/public/*.htaccess
/_ide_helper.php
/.phpstorm.meta.php
/*.lock
